{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
    
{% block body %}
<div class="container">
    <h1>Accueil</h1>
    <p>Bienvenue dans votre carnet d'adresse.</p>
    <p>Clické sur mes contacts</p>

</div>
{% endblock %}
